@import url(https://fonts.googleapis.com/css?family=Lato:400,900|Montez);
.img {
  margin: 40px auto 0;
  width: 500px;
  display: block;
}
.img img {
  width: 100%;
  border-radius: 5px;
}


/* Glowing Effect */
.glow {
    -webkit-animation-duration: 1s;
    -webkit-animation-name: glow;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: glow;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
@-webkit-keyframes glow {
    from { text-shadow: 0 0 0px lawngreen; }
    to { text-shadow: 0 0 20px lawngreen; }
}
.gloww {
    -webkit-animation-duration: 1s;
    -webkit-animation-name: gloww;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: gloww;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
@-webkit-keyframes gloww {
    from { text-shadow: 0 0 0px red; }
    to { text-shadow: 0 0 20px red; }
}
/* Button & Img Hove */
.button {
    background-color: #1a354c;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
img {
    opacity: 0.4;
    border-radius: 8px;
    filter: alpha(opacity=40);
    }

img:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    }
/* Allign Centre */

.alg {
    text-align:center;
    }
/* Warning */
.warn {
    color:#66020c;
}
