/* Glowing Effect */
.glow {
    -webkit-animation-duration: 1s;
    -webkit-animation-name: glow;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: glow;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
@-webkit-keyframes glow {
    from { text-shadow: 0 0 0px green; }
    to { text-shadow: 0 0 20px green; }
}
/* Button & Img Hove */
.button {
    background-color: #1a354c;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
img {
    opacity: 0.4;
    border-radius: 8px;
    filter: alpha(opacity=40);
    }

img:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    }
/* Allign Centre */

.alg {
    text-align:center;
    }